In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
df = pd.read_csv("skyscrapers.csv")
df

,id,material,name,location.city,location.city_id,location.country,location.country id,location.latitude,location.longitude,purposes.abandoned,...,purposes.telecommunications,statistics.floors above,statistics.height,statistics.number of purposes,statistics.rank,status.current,status.completed.is completed,status.completed.year,status.started.is started,status.started.year
0,12,steel,The Illinois,Chicago,1539,US,163,0.000000,0.000000,True,...,True,528,1609.359985,4,1,vision,True,0,True,0
1,62,composite,Chicago Spire,Chicago,1539,US,163,41.889889,-87.614861,True,...,True,150,609.599976,1,2,never completed,True,0,True,2007
2,68,composite,Miglin-Beitler Skyneedle,Chicago,1539,US,163,41.881618,-87.634354,True,...,True,125,609.489990,1,3,vision,True,0,True,0
3,98,composite,One World Trade Center,New York City,1641,US,163,40.713112,-74.013351,True,...,True,94,541.299988,1,4,completed,True,2014,True,2006
4,14269,concrete,Central Park Tower,New York City,1641,US,163,40.766361,-73.980949,True,...,True,95,541.020020,3,5,under construction,True,2019,True,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2426,18633,concrete,Hallets Point 2,New York City,1641,US,163,0.000000,0.000000,True,...,True,0,0.000000,1,2423,proposed,True,0,True,0
2427,18635,concrete,Hallets Point 3,New York City,1641,US,163,0.000000,0.000000,True,...,True,0,0.000000,1,2423,proposed,True,0,True,0
2428,18636,concrete,Hallets Point 4,New York City,1641,US,163,0.000000,0.000000,True,...,True,0,0.000000,1,2423,proposed,True,0,True,0
2429,18637,concrete,Hallets Point 5,New York City,1641,US,163,0.000000,0.000000,True,...,True,0,0.000000,1,2423,proposed,True,0,True,0
2430,18638,concrete,Hallets Point 6,New York City,1641,US,163,0.000000,0.000000,True,...,True,0,0.000000,1,2423,proposed,True,0,True,0